.about__list {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: max-content max-content;
  gap: 48px 5%;
}

.about__item_img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.about__item_text {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.about__item_boss {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  align-self: end;
}

.about__text {
  max-width: 100%;

  font-size: 20px;
  line-height: 28px;
}

.about__text:not(:last-child) {
  margin-bottom: 40px;
}

.about__text-big {
  width: 80%;

  margin-bottom: 39px;

  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__text-big:before {
  content: '“';
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #6C0287;
}

.about__text-big:after {
  content: '”';
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #6C0287;
}

.about__box-boss {
  display: flex;
  justify-content: end;
}

.about__boss-img {
  width: 80px;
  height: 80px;

  margin-right: 30px;
}

.about__boss-text {
  width: 280px;

  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 1190px) {
  .about__list {
    grid-template-columns: 47% 50%;
    grid-template-rows: max-content max-content;
    gap: 26px 3%;
  }

  .about__item_text {
    align-self: center;
  }
  
  .about__item_boss {
    align-self: self-start;
  }

  .about__text {
    font-size: 18px;
    line-height: 24px;
  }
  
  .about__text:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .about__text-big {
    width: 100%;
    margin-bottom: 13px;
  
    font-size: 30px;
    line-height: 36px;
  }
  
  .about__text-big:before {
    width: 15px;
    height: 15px;
  }
  
  .about__text-big:after {
    width: 15px;
    height: 15px;
  }
  
  .about__boss-img {
    width: 70px;
    height: 70px;
  
    margin-right: 35px;
  }
  
  .about__boss-text {
    width: 280px;
  
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width:1024px) {
  .about__item_img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .about__item_text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    align-self: self-start;
  }
  
  .about__item_boss {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  
    align-self: self-end;
  }
}

@media (max-width: 980px) {
  .about__list {
    grid-template-columns: 60% 37%;
    gap: 30px 3%;
  }

  .about__item_img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .about__item_text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    align-self: center;
  }
  
  .about__item_boss {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  
    align-self: self-end;
  }

  .about__text-big {
    width: 80%;
  }
}

@media (max-width: 675px) {
  .about__list {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content;
    gap: 30px 0;
  }

  .about__item_img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .about__item_text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: self-start;
  }
  
  .about__item_boss {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  
    align-self: self-start;
  }

  .about__text-big {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .about__list {
    gap: 15px 0;
  }

  .about__text {
    font-size: 12px;
    line-height: 16px;
  }

  .about__text-big {
    font-size: 18px;
    line-height: 26px;
  }

  .about__text-big:before {
    width: 11px;
    height: 11px;
  }
  
  .about__text-big:after {
    width: 11px;
    height: 11px;
  }

  .about__boss-text {
    font-size: 12px;
    line-height: 16px;
  }

  .about__boss-img {
    width: 56px;
    height: 56px;

    margin-right: 15px;
  }

  .about__boss-text {
    width: 165px;
  }

  .about__box-boss {
    justify-content: flex-start;
  }
}

