@import "var.css";
@import "fonts.css";
@import "normalize.css";
@import "global.css";
@import "../header/header.css";
@import "../galery/galery.css";
@import "../rooms/rooms.css";
@import "../booking/booking.css";
@import "../booking/booking_rooms.css";
@import "../booking/booking_games.css";
@import "../booking/booking_registration.css";
/* @import "../about/about.css"; */
@import "../reviews/reviews.css";
@import "../questions/questions.css";
@import "../footer/footer.css";
@import "../rooms_style/global_rooms/room_page.css";
@import "../rooms_style/global_rooms/room-page__question.css";
@import "../rooms_style/global_rooms/room-page__variant.css";
@import "../rooms_style/vibes.css";
@import "../rooms_style/neon.css";
@import "../rooms_style/wars.css";
@import "../rooms_style/west.css";