.questions__list {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: #1C1A1A;
}

.questions__item {
  padding: 0 70px;
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(odd) {
  background-color: #FFFFFF;
  color: #1C1A1A;
}

.questions__item:nth-child(even) {
  background-color: #440F51;
  color: #FFFFFF;
}

.questions__btn {
  width: 100%;
  height: 87px;

  text-align: left;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: inherit;

  transition-duration: 0.6s;
  transition-property: background-image;
}

.cuestions__btn-span {
  padding-right: 70px;
}

.questions__btn_violet {
  background-image: url(../../image/questions/open_violet.svg);
  background-repeat: no-repeat;

  background-position: right 0 center;
}

.questions__btn_violet:hover {
  background-image: url(../../image/questions/hover_violet.svg);
  background-repeat: no-repeat;
}

.questions__btn_violet:active {
  background-image: url(../../image/questions/active_violet.svg);
  background-repeat: no-repeat;
}

.questions__btn_white {
  background-image: url(../../image/questions/open_white.svg);
  background-repeat: no-repeat;

  background-position: right 0 center;
}

.questions__btn_white:hover {
  background-image: url(../../image/questions/hover-white.svg);
  background-repeat: no-repeat;
}

.questions__btn_white:active {
  background-image: url(../../image/questions/active_white.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1080px) {
  .questions__list {
    font-size: 20px;
    line-height: 24px;
  }
  
  .questions__item {
    padding: 0 20px 0 20px;
  }

  .questions__item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .questions__item:nth-child(even) {
    background-color: #FFFFFF;
    color: #1C1A1A;;
  }
  
  .questions__btn {
    min-height: 70px;
  }
  
  .questions__btn_white {
    background-image: url(../../image/questions/open_violet.svg);
  }
  
  .questions__btn_white:hover {
    background-image: url(../../image/questions/hover_violet.svg);
  }
  
  .questions__btn_white:active {
    background-image: url(../../image/questions/active_violet.svg);
  }
}

@media (max-width: 780px) {
  .questions__list {
    font-size: 18px;
    line-height: 24px;
  }
  
  .questions__item {
    padding: 0 65px 0 54px;
  }
}

@media (max-width: 600px) {
  .questions__list {
    font-size: 12px;
    line-height: 16px;
  }

  .questions__item {
    padding: 0 13px;
  }

  .questions__btn_violet,
  .questions__btn_white {
    background-size: 30px;
  }

  .questions__btn {
    height: 46px;
  }

  .cuestions__btn-span {
    padding-right: 40px;
  }
}