.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.footer__contact {
  display: flex;
  justify-content: space-between;

  margin-bottom: 156px;
}

.contact__list {
  display: flex;
  flex-direction: column;
}

.contact__item_location {
  margin-bottom: 39px;
}

.contact__item_contact {
  margin-bottom: 35px;
}

.contact__city {
  width: 250px;
}

.contact__city:before {
  content: '';
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 28px;

  background-image: url(../../image/footer/contact/location.svg);
  
  position: relative;
  top: 20px;
}

.contact__city-padding {
  display: block;

  padding-left: 60px;
}

.contact__tel {
  margin-bottom: 14px;
}

.contact__tel:before {
  content: '';
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 28px;

  background-image: url(../../image/footer/contact/tel.svg);
  position: relative;

  top: 8px;
}

.contact__tel-link:hover {
  color: #CD06FF;
}

.contact__email-link:hover {
  color: #CD06FF;
}

.contact__email:before {
  content: '';
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 28px;

  background-image: url(../../image/footer/contact/email.svg);
  
  position: relative;
  top: 8px;
}

.contact__social-list {
  display: flex;
}

.contact__social-item:not(:last-child) {
  margin-right: 26px;
}

.contact__social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.contact__social-link:hover > svg {
  fill: #EADEED;
}

.contact__social-link:active > svg {
  fill: #CD06FF;
}

.contact__social-link:focus > svg {
  border: 1px solid #CD06FF;
}

.footer__image {
  width: 680px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 16px;
}

.footer__bottom-right {
  width: 157px;
}

.footer__bottom-right-link:hover {
  color: #CD06FF;
}
