.room-page {
  font-weight: 700;
}

.container__room-page-link {
  padding: 60px 0 20px 30px;
}

.room-page__link-top {
  font-size: 22px;
  line-height: 28px;
}

.room-page__link-top:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 28px;
  margin-right: 10px;

  background-image: url(../../../image/rooms_image/vibes/arrow.svg);
  background-repeat: no-repeat;

  transform: translateY(48%);
}

.container__room-page-flex-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80px;
  height: 100%;
}

.room-page__title {
  font-size: 90px;
  line-height: 80px;

  text-transform: uppercase;
}

.container__room-page-text {
  padding-top: 100px;
}

.room-page__text {
  max-width: 1000px;
  margin: 0 auto;
  
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1024px) {
  .container__room-page-link {
    padding: 50px 0 20px 30px;
  }

  .room-page__background {
    max-height: 534px;
  }

  .container__room-page-text {
    padding-top: 70px;
  }
  
  .room-page__text {
    max-width: 800px;
    
    font-size: 20px;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .container__room-page-link {
    padding: 40px 0 20px 30px;
  }

  .room-page__link-top {
    font-size: 16px;
    line-height: 28px;
  }

  .room-page__background {
    height: 402px;
  }

  .room-page__title {
    font-size: 60px;
    line-height: 120%;
  }

  .container__room-page-text {
    padding: 60px 20px 0;
  }
  
  .room-page__text {
    max-width: 100%;
    
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .room-page__background {
    height: 334px;
  }

  .room-page__title {
    font-size: 45px;
  }
}

@media (max-width: 460px) {
  .container__room-page-link {
    padding: 20px 0 15px 16px;
  }

  .room-page__link-top {
    font-size: 12px;
    line-height: 16px;
  }

  .room-page__background {
    height: 168px;
  }

  .room-page__title {
    font-size: 30px;
    line-height: 120%;
  }

  .container__room-page-text {
    padding: 30px 20px 0;
  }
  
  .room-page__text {
    max-width: 100%;
    
    font-size: 16px;
    line-height: 150%;
  }
}