.header {
  padding-bottom: 50px;
}

.header__top {
  padding: 30px 0;

}

.header__top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  
  text-transform: uppercase;
}

.header__logo > svg{
  transition-duration: 1s;
  transition-property: fill;
}

.header__logo:hover > svg {
  fill: var(--main-color, #CD06FF);
}

.header__logo > svg .ugol {
  fill: var(--main-color, #CD06FF);
  transition-duration: 1s;
  transition-property: fill;
}

.header__logo:hover > svg .ugol {
  fill: #fff;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  transition-duration: 0.5s;
  transition-property: color;
}

.nav__link:hover {
  color: var(--main-color, #CD06FF);
}

.header__button-top {
  padding: 12px 32px;

  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  background-color: transparent;
  color: inherit;
  /* outline: 3px solid var(--main-color, #CD06FF); */
  border-radius: 10px;

  transition-duration: 2s, 2s;
  transition-property: background-color, outline;

  position: relative;
}

.header__button-top:after {
  content: '';
  display: inline-block;

  border-radius: 10px;
  /* border: 3px solid #fff; */

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__button-top:hover {
  background-color: var(--main-color-two, #6C0287);
  outline-color: #fff;
}

.header__button-top:focus {
  background-color: var(--main-color-three, #640AA3);
  outline: #000;
}

.header__button-top:active {
  background-color: var(--main-color-two, #6C0287);
  outline: var(--main-color-three, #640AA3);
}

.header__content {
  padding-top: 20px;
}

.header__content-background {
  height: 823px;
  padding-bottom: 50px;
  
  background-image: url(../../image/header/header_negr.png);
  background-repeat: no-repeat;
  
  background-position: right 30px bottom 0;
  position: relative;
}

.header__content-title {
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: -15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}

.header__content-subtitle {
  padding-left: 100px;
  margin-bottom: 65px;

  font-size: 28px;
}

.header__content-row {
  display: flex;
  gap: 40px;

  width: 400px;
  margin-bottom: 150px;

  font-size: 30px;
}

.header__content-list-left-title {
  margin-bottom: 25px;

  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  text-align: center;

  color: var(--main-color, #CD06FF);
}

.header__content-list-left-text {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.header__content-list-right-title {
  margin-bottom: 25px;
  padding-top: 36px;

  font-size: 75px;
  font-weight: 900;  
  line-height: 106px;
  font-variant: all-small-caps;

  color: var(--main-color, #CD06FF);
}

.header__content-list-right-text {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.header__content-button {
  width: 374px;
  height: 80px;

  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  transition-duration: 2s;
  transition-property: background-color;

  background-color: var(--main-color-two, #6C0287);
  color: #FFFFFF;
  border-radius: 10px;
}

.header__content-button:hover {
  background-color: var(--main-color-four, #840AA3);
}

.header__content-button:focus {
  background-color: var(--main-color-three, #640AA3);
}

.header__content-button:active {
  background-color: var(--main-color-four, #840AA3);

}

.header__content-button-push {
  padding: 0;
  background-color: transparent;
  width: 100px;
  height: 100px;

  background-image: url(../../image/header/push.svg);
  background-repeat: no-repeat;

  position: absolute;
  left: 570px;
  bottom: 90px;

  transition-duration: 1s, 1s;
  transition-property: background-image;

  color: transparent;
  outline: 1px solid transparent;
}

.header__content-button-push:hover {
  background-image: url(../../image/header/push_hover.svg);
  background-repeat: no-repeat;
}

.header__content-button-push:active {
  background-image: url(../../image/header/push_active.svg);
  background-repeat: no-repeat;
}

