.header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.header__top {
  padding-bottom: 30px;
}

.header__top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  
  text-transform: uppercase;
}

.header__nav-burger {
  width: 54px;
  min-height: 29px;
  background-color: transparent;

  background-image: url(../../image/header/768/menu.png);
  background-repeat: no-repeat;
  background-size: contain;

  display: none;
}

.header__logo {
  width: 120px;
  height: 66px;

  background-image: url(../../image/header/logo.svg);
  background-repeat: no-repeat;
}

.header__nav {
  padding: 0 20px;
  font-size: 22px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  transition-duration: 0.2s;
  transition-property: color;
}

.nav__link:hover {
  color: var(--main-color, #CD06FF);
}

.header__button-top {
  padding: 10px 30px;

  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  background-color: transparent;
  color: inherit;

  /* outline: 3px solid var(--main-color, #CD06FF); */
  border-radius: 10px;

  border: 3px solid #CD06FF;

  transition-duration: 2s, 2s;
  transition-property: background-color, border;

  transform: translateY(2px);

  position: relative;
}

.header__button-top:hover {
  background-color: var(--main-color-two, #6C0287);
  border-color: #fff;
}

.header__button-top:focus {
  background-color: var(--main-color-three, #640AA3);
  border: #000;
}

.header__button-top:active {
  background-color: var(--main-color-two, #6C0287);
  border: var(--main-color-three, #640AA3);
}

.header__content {
  padding-top: 20px;
}

.header__content-background {
  min-height: 823px;

  position: relative;
}

.header__content-background:after {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;

  background-image: url(../../image/header/header_negr.png);
  background-repeat: no-repeat;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;
}

.header__content-title {
  margin-bottom: 10px;
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: -15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}

.header__content-subtitle {
  padding-left: 100px;
  margin-bottom: 37px;

  font-size: 28px;
}

.header__content-row {
  display: flex;
  gap: 40px;

  width: 400px;
  margin-bottom: 150px;

  font-size: 30px;
}

.header__content-list-left-title {
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  text-align: center;

  color: var(--main-color, #CD06FF);
}

.header__content-list-text {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.header__content-list-right-title {
  padding-top: 36px;

  font-size: 75px;
  font-weight: 900;  
  line-height: 106px;
  font-variant: all-small-caps;

  color: var(--main-color, #CD06FF);
}

.header__content-button {
  padding: 25px 69px;

  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  transition-duration: 2s;
  transition-property: background-color;

  background-color: var(--main-color-two, #6C0287);
  color: #FFFFFF;
  box-shadow: 1px 1px 10px #6C0287,
              -1px -1px 10px #6C0287, 
              1px -1px 10px #6C0287, 
              -1px 1px 10px #6C0287;
  border-radius: 10px;
}

.header__content-button:hover {
  background-color: var(--main-color-four, #840AA3);
}

.header__content-button:focus {
  background-color: var(--main-color-three, #640AA3);
}

.header__content-button:active {
  background-color: var(--main-color-four, #840AA3);

}

.header__content-button-push {
  padding: 0;
  background-color: transparent;
  width: 100px;
  height: 100px;

  background-image: url(../../image/header/push.svg);
  background-repeat: no-repeat;

  position: absolute;
  left: 46%;
  bottom: 87px;

  transition-duration: 0.2s, 0.2s;
  transition-property: background-image;

  color: transparent;
  outline: 1px solid transparent;

  transform: translateX(-4px);
}

.header__content-button-push:hover {
  background-image: url(../../image/header/push_hover.svg);
  background-repeat: no-repeat;
}

.header__content-button-push:active {
  background-image: url(../../image/header/push_active.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 50px;
  }
  
  .header__top {
    padding-bottom: 15px;
  }

  .header__logo {
    width: 87px;
    height: 55px;

    background-image: url(../../image/header/768/logo_768.svg);
  }
  
  .header__nav {
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .nav__list {
    gap: 20px;
  }
  
  .header__button-top {
    padding: 8px 24px;
    font-size: 18px;
    line-height: 24px;

    transform: translateY(1px);
  }

  .header__content {
    padding-top: 15px;
  }
  
  .header__content-background {
    min-height: 583px;
  }
  
  .header__content-background:after {
    width: 453px;
    height: 520px;
  
    background-image: url(../../image/header/1024/negr_1024.png);
  }
  
  .header__content-title {
    margin-bottom: 20px;
    font-size: 120px;
    line-height: 120px;    
    letter-spacing: -12px;
  }
  
  .header__content-subtitle {
    margin-bottom: 30px;
  
    font-size: 22px;
    line-height: 30px;
  }
  
  .header__content-row {
    max-width: 348px;
    margin-bottom: 80px;
  
    font-size: 30px;
  }
  
  .header__content-list-left-title {
    font-size: 80px;
    line-height: 113px;
  }
  
  .header__content-list-right-title {
    padding-top: 27px;
    padding-left: 5px;
    margin-bottom: 2px;
  
    font-size: 60px;
    line-height: 85px;
  }

  .header__content-list-text {
    font-size: 26px;
    line-height: 30px;
  }
  
  .header__content-button {
    padding: 17px 48px;
  
    font-size: 22px;
    transform: translateX(39px);
  }
  
  .header__content-button-push {
    width: 67px;
    height: 67px;
  
    background-image: url(../../image/header/push.svg);
    background-size: contain;
  
    left: 46%;
    bottom: 46px;

    transform: translateX(1px);
  }
}

@media (max-width: 950px) {
  .header {
    padding-bottom: 50px;
  }
  
  .header__nav-burger {  
    display: inline-block;

    transform: translateY(5px);
  }
  
  .header__nav {
    display: none;
  }
  
  .header__button-top {
    transform: translateY(5px);
  }
  
  .header__content-background {
    min-height: 537px;
  }
  
  .header__content-background:after {
    width: 409px;
    height: 479px;
  
    background-image: url(../../image/header/768/negr_768.png);
  }
  
  .header__content-title {
    margin-bottom: 22px;
    
    font-size: 86px;
    line-height: 86px;   
    letter-spacing: -8.6px;
  }
  
  .header__content-subtitle {
    margin-bottom: 50px;
    padding-left: 70px;
  
    font-size: 18px;
    line-height: 24px;
  }
  
  .header__content-row {
    max-width: 222px;
    margin-bottom: 100px;
  
    font-size: 30px;

    gap: 30px;
  }
  
  .header__content-list-left-title {
    font-size: 50px;
    line-height: 71px;
  }
  
  .header__content-list-right-title {
    padding-top: 15px;
    padding-left: 0;
    margin-bottom: 1px;
  
    font-size: 40px;
    line-height: 56px;
  }

  .header__content-list-text {
    font-size: 16px;
    line-height: 18px;
  }
  
  .header__content-button {
    padding: 11px 34px;
  
    font-size: 16px;
    line-height: 24px;
    transform: translateX(0);
  }
  
  .header__content-button-push {
    display: none;
  }
}

@media (max-width: 700px) {
  .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__top {
    padding-bottom: 10px;
  }
  
  .header__nav-burger {  
    display: inline-block;
    width: 39px;
    height: 20px;

    background-size: contain;

    transform: translateY(9px);
  }
  
  .header__logo {
    width: 66px;
    height: 42px;

    background-size: contain;
  }  

  .header__nav {
    display: none;
  }
  
  .header__button-top {
    display: none;

    transform: translateY(5px);
  }
  
  .header__content {
    padding-top: 10px;
  }

  .header__content-background {
    min-height: 204px;
  }
  
  .header__content-background:after {
    width: 161px;
    height: 179px;
  
    background-image: url(../../image/header/320/negr_320.png);
  }
  
  .header__content-title {
    margin-bottom: 6px;
    
    font-size: 35px;
    line-height: 35px;   
    letter-spacing: -2.8px;
  }
  
  .header__content-subtitle {
    margin-bottom: 11px;
    padding-left: 20px;
  
    font-size: 10px;
    line-height: 14px;
  }
  
  .header__content-row {
    max-width: 139px;
    margin-bottom: 28px;
  
    font-size: 30px;

    gap: 20px;
  }
  
  .header__content-list-left-title {
    font-size: 26px;
    line-height: 37px;
  }
  
  .header__content-list-right-title {
    padding-top:6px;
    padding-left: 3px;
    margin-bottom: 0;
  
    font-size: 22px;
    line-height: 31px;
  }

  .header__content-list-text {
    font-size: 10px;
    line-height: 11px;
  }
  
  .header__content-button {
    padding: 8px 13px;
  
    font-size: 10px;
    line-height: 12px;
    transform: translateX(0);
  }
  
  .header__content-button-push {
    display: none;
  }
}