.booking__games-wrapper {
  display: flex;
  justify-content: space-between;
  
  padding: 0 75px;
}

.booking__title-games {
  margin-bottom: 23px;
}

.video__input-radio {
  margin-right: 12px;

  outline: 1px solid transparent;
  outline-offset: 1px;
}

.video__input-radio:focus {
  outline-color: var(--main-color, #CD06FF);
}

.table__input-checkbox {
  margin-right: 12px;

  outline: 1px solid transparent;
  outline-offset: 1px;
}

.table__input-checkbox:focus {
  outline-color: var(--main-color, #CD06FF);
}

.options__input-checkbox {
  margin-right: 12px;

  outline: 1px solid transparent;
  outline-offset: 1px;
}

.options__input-checkbox:focus {
  outline-color: var(--main-color, #CD06FF);
}