.booking {
  max-width: 100%;
  padding-top: 80px;

  font-size: 24px;

  background-color: #440F51;
}

.booking__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.booking__form-wrapper {
  max-width: 100%;
  padding-top: 40px;
}

.booking__button-box {
  display: flex;
  justify-content: flex-end;
  
  padding-right: 90px;
}

.booking__button {
  width: 300px;
  height: 60px;

  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 10px;
  background-color: #fff;
  color: #6C0287;
}

.booking__button:hover {
  background-color: #EADEED;

  outline: 3px solid #6C0287;
}

.booking__button:focus {
  background-color: #EADEED;
}

.booking__button:active {
  outline: 3px solid #6C0287;
}
