.reviews__list {
  max-width: 980px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 28px;
}
.reviews__item {
  display: flex;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__img-flex {
  margin-bottom: 11px;
  margin-right: 20px;
}

.reviews__box-img {
  width: 280px;
  
  position: relative;
}

.reviews__box-img:after {
  content: '';
  width: 280px;
  height: 280px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.reviews__img-name {
  text-align: center;
}

.reviews__text {
  padding-top: 5%;
}

@media (max-width: 1080px) {

  .reviews__list {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__img-flex {
    margin-bottom: 21px;
    margin-right: 38px;
  }
  
  .reviews__box-img {
    width: 172px;
  }

  .reviews__box-img:after {
    width: 172px;
    height: 172px;
  }
  
  .reviews__text {
    padding-top: 0;
    align-self: center;
  }
}

@media (max-width: 780px) {
  .reviews__list {
    font-size: 16px;
    line-height: 22px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__img-flex {
    margin-bottom: 15px;
    margin-right: 17px;
  }
  
  .reviews__box-img {
    width: 153px;
  }

  .reviews__box-img:after {
    width: 153px;
    height: 153px;
  }

  .reviews__img-name {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 560px) {
  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .reviews__img-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    margin-right: 0;
  }
  
  .reviews__box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .reviews__img {
    width: 86px;
    margin-bottom: 9px;
  }

  .reviews__box-img:after {
    width: 86px;
    height: 86px;

    position: absolute;
    top: 0;
    right: auto;
    left: auto;
  }

  .reviews__img-name {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  
  .reviews__text {
    font-size: 12px;
    line-height: 16px;

    text-align: center;
  }
}
